Content/StarterContent
Binaries
DerivedDataCache
Intermediate

Saved/*
!Saved/Logs/


.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Linux, vscode, Qtcreator ignores
Makefile
CMakeLists.txt

.kdev4/
.vscode/

*workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt

*.kdev4
*.pro
*.pro.user

*.pri
